<!-- v placeholder, change logo v -->
<div
  (click)="toggleNav()"
  class="aspect-square w-20 border-b border-r flex justify-center items-center pl-1 pt-1 border-pumping-700 fixed bg-pumping-900 z-30 cursor-pointer"
>
  <img
    class="w-12 aspect-square"
    src="/assets/icons/temporario logo.svg"
    alt="image"
    draggable="false"
  />
</div>
<!-- ^ placeholder, change logo ^ -->
<nav class="h-full w-full fixed">
  <mat-drawer-container class="h-full">
    <mat-drawer
      class="flex min-w-[5rem] items-center !bg-pumping-900"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) ? showNav : true"
    >
      <div class="h-full flex flex-col">
        <ul class="flex-grow flex flex-col relative mt-20">
          <span
            #indicator
            class="absolute left-0 w-1 h-[3rem] bg-pumping-secondary"
          ></span>
          <div *ngFor="let item of data">
            <li class="flex w-full h-12 items-center justify-center mt-8">
              <pumping-nav-button
                [route]="item.routeLink"
                [iconClass]="item.icon"
              />
            </li>
          </div>
          <li class="flex w-full items-end justify-center mb-8 flex-grow">
            <pumping-nav-button [iconClass]="'bi bi-box-arrow-left'" />
          </li>
        </ul>
      </div>
    </mat-drawer>
    <mat-drawer-content class="pumping-gradient">
      <ng-content></ng-content>
    </mat-drawer-content>
  </mat-drawer-container>
</nav>
