<mat-toolbar class="!h-20 !bg-pumping-900 overflow-hidden !px-0">
  <div
    class="flex flex-1 h-full items-center justify-between lg:ml-[7vw] hhd:ml-5 pr-20 m:pr-2 m:justify-end"
  >
    <form class="flex flex-1 text-pumping-100 text-xs max-w-[52vw] m:hidden">
      <div
        class="rounded-xl justify-center items-center flex flex-1 h-10 w-full bg-pumping-700 px-7 cursor-pointer"
      >
        <i class="bi bi-search text-base pr-7"></i>
        <input
          autocomplete="off"
          class="w-full h-full outline-none bg-pumping-700 placeholder:text-pumping-100 placeholder:opacity-50"
          placeholder="Search for a person, nation, category..."
        />
      </div>
    </form>
    <section class="flex space-x-3">
      <div class="flex flex-col items-end justify-center">
        <p class="text-base text-pumping-100 font-bold">
          <span class="text-pumping-primary">Hi, </span>
          Lorem Ipsum
        </p>
        <p class="text-[0.75rem] text-pumping-100">Nation's Name</p>
      </div>
      <div
        class="bg-pumping-700 aspect-square w-12 rounded-xl flex items-center justify-center cursor-pointer"
      >
        <i class="bi bi-person text-pumping-100 opacity-50 text-xl"></i>
      </div>
    </section>
  </div>
</mat-toolbar>
