@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
}

@layer components {
  .pumping-gradient {
    @apply bg-gradient-to-r from-pumping-700 to-pumping-900
  }
}

@layer components {
  .pumping-btn-hover {
      @apply transition-all duration-1000 hover:duration-300 hover:text-pumping-700 ease-in-out hover:bg-pumping-primary
  }
}